<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h2>Welcome, {{ username.capitalize() }}!</h2>
        <a href="{{ url_for('quizzes') }}" class="dashboard-btn">View Your Quizzes</a>
        <a href="{{ url_for('create_quiz') }}" class="dashboard-btn">Create New Quiz</a>
        <a href="{{ url_for('analytics') }}" class="dashboard-btn">View Analytics</a>
        <a href="{{ url_for('logout') }}" class="dashboard-btn">Logout</a>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const createQuizBtn = document.querySelector('a[href="{{ url_for("create_quiz") }}"]');
            
            createQuizBtn.addEventListener('click', function(e) {
                {% if current_user.role != 'professor' %}
                    e.preventDefault(); // Stop navigation
                    alert("Only Professors Can Create Quizzes");
                {% endif %}
            });
        });
        </script>
</body>
</html>
